/*navigation*/
nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

nav a{
	text-decoration: none;
	display: block;
	padding: 5px;
	color: white;
}

nav li{
	font-weight: bold;
	color: black;
}

/*banner*/
.banner{
	background-color: #198DE1;
	text-align: center;
}

#bannerImage{
	margin-top: 25px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.banner h1{
	text-shadow: 4px 4px black;
}

.banner p{
	padding-bottom: 25px;
}

/*body*/
body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: pink;
	color: white;
}

/*main page content*/
.main-content{
	padding-left: 15px;
	padding-right: 15px;
	color: white;

}

/*footer*/
footer div{
	text-align: center;
	background-color: #f0f0f0;
}

footer p{
	margin: 0;
	padding: 5px;
	color: #667;
}

.footerContainer{
	margin-top: 15px;
}

/*social media*/
.socialMedia ul{
	padding: 0;
	margin: 0;
}

.socialMedia li{
	text-decoration: none;
	list-style-type: none;
}

.socialMedia a{
	text-decoration: none;
	color: white;
}

.socialMedia img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-right: 15px;
	margin-top: 15px;
}

.socialMedia li{
	display: inline-block;
}

.socialMedia h2{
	margin-bottom: 0;
}

/*media queries*/
@media(min-width: 770px){

	/*.banner{
		background-color: green;
	}*/

	nav li{
		display: inline-block;
	}

	nav a{
		padding: 15px;
	}

	.columnLeft{
		float: left;
		padding: 10px;
		width: 70%;
	}

	.columnRight{
		float: left;
		padding: 10px;
		width: 22%;
		text-align: center;
	}

	.footerContainer{
		clear: both;
	}

	.socialMedia li{
		display: block;
	}

	.socialMedia img{
		margin-right: 0;
		margin-top: 15px;
	}

	.socialMedia h2{
		margin-bottom: 0;
	}
}







